👋 Hello dear {{ username }}

My name is <b><a href="https://www.youtube.com/channel/UCqxsT5XB9flSJYIjTjmWTdA">Pasha IT</a></b>

If you want to support this project or buy me 🍺 or ☕️ or 🧻 you can
<a href="https://yasobe.ru/na/anticovid19bot/">donate me 💸💸💸</a>

MY CONTACTS IN THE WEB:

<b><a href="https://www.linkedin.com/in/pavelvk/">Linkedin</a></b>
<b><a href="https://www.youtube.com/channel/UCqxsT5XB9flSJYIjTjmWTdA">Youtube channel "PASHA IT"</a></b>
<b><a href="https://www.instagram.com/pavel_k99/">Instagram</a></b>
<b><a href="tg://user?id=147720749">Telegram devcore1</a></b>
<b><a href="anticovid19tg@gmail.com">EMAIL anticovid19tg@gmail.com</a></b>